/* -------------------------  Home page start ------------------------- */


/* Header section start */
header.site-header {
    position: absolute;
    width: 100%;
}

.site-logo img {
    width: 152px;
    height: 32px;
    object-fit: contain;
}

header.site-header .sch-col-70 {
    display: flex;
    align-items: center;
    gap: 0 85px;
}

.site-menu ul,
.header-login-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px 20px;
}

.site-menu ul a,
.header-login-menu ul a {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

header.site-header .sch-row {
    display: flex;
    align-items: center;
    padding: 31px 0;
}

header.site-header .sch-col-30 {
    display: flex;
    justify-content: flex-end;
}

.header-login-menu ul a.btn-bg-color {
    padding: 15px 25px;
    border-radius: 5px;
}

.header-login-menu ul {
    gap: 45px !important;
}

/* Header section end */

/* Hero section start */
section.home-hero-section {
    background-image: url(./assets/image/hero-bg-wave.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 160px;
}

.home-hero-content span.subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.home-hero-content h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.home-hero-content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.hero-buttons a {
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid;
    text-decoration: none;
}

.hero-buttons {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.home-hero-image {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 7;
}

.home-hero-image img {
    height: 450px;
    width: 450px;
    object-fit: contain;
    transform: rotate(5deg);
    border-radius: 70px;
}

.home-hero-content {
    padding: 100px 0;
    position: relative;
}

.home-hero-section {
    padding-top: 160px;
}

.home-hero-moving-elements {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: unset;
}

img.home-hero-bg-image {
    position: absolute;
    z-index: -1;
    right: -100px;
    top: 30px;
    border-radius: 0;
}

.home-hero-moving-elements img:nth-child(1) {
    height: 100px;
    width: 100px;
    position: absolute;
    right: -30px;
    top: 256px;
}

.home-hero-moving-elements img:nth-child(2) {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -38px;
    top: 424px;
}

.home-hero-moving-elements img:nth-child(3) {
    height: 80px;
    width: 80px;
    position: absolute;
    right: 30px;
    top: 490px;
}

/* Hero end */

/* Service start */
.sch-col-33 {
    width: 33.33%;
}

.service-icon-box-item {
    background: #fff;
    padding: 40px;
}

section.service-icon-box-section .sch-row {
    gap: 30px;
}

section.service-icon-box-section .sch-col-33 {
    max-width: calc(33.33% - 20px);
}

.service-icon-box-item img {
    width: 72px;
    height: 72px;
    object-fit: contain;
}

.service-icon-box-item h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}

.service-icon-box-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

section.service-icon-box-section {
    margin-top: -120px;
}

/* Service end */



/* Expert teacher start */
.expert-teacher-content {
    padding: 0 80px 0 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expert-teacher-content h2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.expert-teacher-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

section.service-expert-teacher-section {
    margin-top: 150px;
}
/* Expert teacher end */



/* packages start */
section.service-packages-section .expert-teacher-content {
    padding: 0;
}
section.service-packages-section iframe {
    width: 100%;
    height: 360px;
}

.expert-packages-vidio {
    height: 100%;
}
section.service-packages-section {
    margin-top: 150px;
}
/* packages end */



/* Course start */
span.course-tag {
    position: ABSOLUTE;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 52px;
    height: 24px;
    left: 20px;
    top: 20px;
    background: #E74040;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.course-image {
    position: relative;
}

.course-image img {
    height: 300px;
    object-fit: cover;
}
.single-course {
    background: #eee;
}

section.service-courses-section  .sch-row:nth-child(2) {
    gap: 10px;
}

section.service-courses-section .sch-row:nth-child(2) .sch-col-33 {
    width: calc(33.33% - 7px);
}
/* Course end */


/* testimonial start */
.single-testimonial {
    background: #fff;
    padding: 30px;
}



/* testimonial End */




/* FAQ star */
.single-faq {
    background: #fff;
}
/* FAQ end */

/* -------------------------  Home page End ------------------------- */