/* -------------------------  Home page start ------------------------- */


/* Header section start */
header.site-header {
    position: absolute;
    width: 100%;
}

.site-logo img {
    width: 152px;
    height: 32px;
    object-fit: contain;
}

header.site-header .sch-col-70 {
    display: flex;
    align-items: center;
    gap: 0 85px;
}

.site-menu ul,
.header-login-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px 20px;
}

.site-menu ul a,
.header-login-menu ul a {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

header.site-header .sch-row {
    display: flex;
    align-items: center;
    padding: 31px 0;
}

header.site-header .sch-col-30 {
    display: flex;
    justify-content: flex-end;
}

.header-login-menu ul a.btn-bg-color {
    padding: 15px 25px;
    border-radius: 5px;
}

.header-login-menu ul {
    gap: 45px !important;
}

/* Header section end */

/* Hero section start */
section.home-hero-section {
    background-image: url(./assets/image/hero-bg-wave.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 160px;
}

.home-hero-content span.subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.home-hero-content h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.home-hero-content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.hero-buttons a {
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid;
    text-decoration: none;
}

.hero-buttons {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.home-hero-image {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 7;
}

.home-hero-image img {
    height: 450px;
    width: 450px;
    object-fit: contain;
    transform: rotate(5deg);
    border-radius: 70px;
}

.home-hero-content {
    padding: 100px 0;
    position: relative;
}

.home-hero-section {
    padding-top: 160px;
}

.home-hero-moving-elements {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: unset;
}

img.home-hero-bg-image {
    position: absolute;
    z-index: -1;
    right: -100px;
    top: 30px;
    border-radius: 0;
}

.home-hero-moving-elements img:nth-child(1) {
    height: 100px;
    width: 100px;
    position: absolute;
    right: -30px;
    top: 256px;
}

.home-hero-moving-elements img:nth-child(2) {
    height: 50px;
    width: 50px;
    position: absolute;
    right: -38px;
    top: 424px;
}

.home-hero-moving-elements img:nth-child(3) {
    height: 80px;
    width: 80px;
    position: absolute;
    right: 30px;
    top: 490px;
}

/* Hero end */

/* Service start */
.sch-col-33 {
    width: 33.33%;
}

.service-icon-box-item {
    background: #fff;
    padding: 40px;
}

section.service-icon-box-section .sch-row {
    gap: 30px;
}

section.service-icon-box-section .sch-col-33 {
    max-width: calc(33.33% - 20px);
}

.service-icon-box-item img {
    width: 72px;
    height: 72px;
    object-fit: contain;
}

.service-icon-box-item h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #252B42;
}

.service-icon-box-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

section.service-icon-box-section {
    margin-top: -120px;
}

/* Service end */

/* -------------------------  Home page End ------------------------- */


/* ---------------expert-section------------------- */
.expert-content h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 260px;
}

.expert-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 345px;
}

p.learn {
    width: 117px;
    height: 30px;
    color: #b667b6;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.expert-content {
    margin-left: 169px;
    margin-top: 99px;
}
.sch-col-50 {
    margin-top: 60px;
}

.expert-image img {
    width: 520px;
}
/* --------------package------ ------*/

.package-image img {
    width: 502px;
}

.package-content h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 460px;
}

.package-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 345px;
}
section.package-section .sch-row {
    display: flex;
    flex-direction: row-reverse;
}
/* ------------popular-section---------- */
.popular-content h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 440px;
}

.popular-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    width: 402px;
}
p.practice {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #8D5CF6;
}
